.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7em 1em;
  background-color: var(--red);
  cursor: pointer;
  border-radius: .2em;
  max-width: 7em;
  gap: .1rem;
  color: white;
}

.button--full-width {
  max-width: 100%;
}

.button:hover {
  background-color: var(--red10);
}