.header {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  /* background-color: var(--black20);   */
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5248949921765581) 22%, rgba(0, 0, 0, 1) 100%);
}

.header__content {
  display: flex;
  padding-block: .6em;
  align-items: center;
  gap: 2em;
}

.header__dropdown {
  margin-left: auto;
}