.modal {
  padding: 0;
  background-color: black;
  position: fixed;
  border: 0px;
  border-radius: .4rem;
}

.modal__close_btn_container {
  position: absolute;
  display: flex;
  right: 2em;
  top: 2em;
  justify-content: flex-end;
}

.modal--background-image {
  position: absolute;
  inset: 0;
  opacity: 35%;
  z-index: -1;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}