.container {
  position: relative;
  width: 218px;
  height: 432px;
  transition: all .2s cubic-bezier(.28, .61, .9, 1.16);
  z-index: 1;
}

.container--big {
  width: 218px;
  height: 432px;
}

.container--mid {
  width: 158px;
  height: 280px;
}

.container--small {
  width: 300px;
  height: 170px;
}

.hoverEffect:hover {
  transform: scale(1.1);
}

.hoverEffect--first-element:hover {
  transform: scale(1, 1.1);
}