.movies-section {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  overflow: hidden;
}

.scroll {
  z-index: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
  background: transparent;
}

.movies-section__cards-container {
  width: fit-content;
  min-width: 100vw;
  padding-block: 2em;
  display: flex;
  gap: .2em;
}

.movies-section__cards-container--big {
  height: 27em;
}

.movies-section__cards-container--mid {
  height: 20em;
}

.movies-section__cards-container--small {
  height: 16em;
}

.movies-section--wrap .scroll {
  overflow-y: visible;
  overflow-x: visible;
}

.movies-section--wrap .movies-section__cards-container {
  height: auto;
  width: 100%;
  justify-content: center;
  min-width: unset;
  flex-wrap: wrap;
}