.card {
  position: relative;
  border-radius: .4em;
  overflow: hidden;
  transition: all .2s cubic-bezier(.28, .61, .9, 1.16);
  z-index: 1;
}

.card--big {
  width: 15em;
  height: 27em;
}

.card--mid {
  width: 12em;
  height: 18em;
}

.card--small {
  width: 15em;
  height: 10.6em;
}

.card--inherit-height {
  height: auto;
}

.hoverEffect:hover {
  transform: scale(1.1);
}

.hoverEffect--first-element:hover {
  transform: scale(1, 1.1);
}

.card__image {
  object-fit: cover;
}