.movie {
  overflow: hidden;
}

.movie__video {
  height: 100vh;
}

.panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 8%;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  z-index: 0;
}

.opacity-0 {
  opacity: 0;
}

.panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel__video-space {
  flex-grow: 1;
}

.panel__menu {
  display: flex;
  flex-direction: column;
  gap: .4em;
}

.panel__controllers {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.panel__controllers__video-bar {
  flex-grow: 1;
}

.panel__interaction-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.4rem;
  order: -1
}

.volume {
  display: none;
}

@media (min-width: 600px) {
  .volume {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .panel__interaction-buttons {
    order: 1
  }
  
}