.modal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 60vh;
  width: 30vw;
  color: white;
}

.modal__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal__tags {
  display: flex;
  gap: 0.6em;
  align-items: center;
  align-self: stretch;
}

.modal__description{
  flex-grow: 1;
  overflow: scroll;
}