.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-height: 68vh;
  min-width: 20em;
  max-width: 35em;
  color: white;
  padding: 3em;
  padding-bottom: 4em;
  overflow-y: scroll;
}

.preview__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: .6em;
}

.preview__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.6em;
}

.preview__tags {
  display: flex;
  gap: 0.6em;
  overflow-x: scroll;
  align-items: center;
  align-self: stretch;
}

.preview__description {
  flex-grow: 1;
}
