.text--title {
  font-size: 4rem;
  font-weight: 700;
}

.text--nomal {
  font-size: 1rem;
}

.text--spaced {
  color: #FFF;
  font-size: 1.125rem;
  letter-spacing: 0.09rem;
}

.text--relevant {
  font-size: 1.375rem;
  font-weight: 500;
}